
/* CABEÇALHO */

img#ifs-logo {
	width: 250px;
}
.container {
	box-shadow: 1px 1px 10px gray;
	background: #ffffff;
	width: 720px;
	min-width: 580px;
}
body {
	background: #efffea;
}
div#cabecalho {
	background: #e2ff72;
	border-bottom: 3px dotted black;
	font-family: sans-serif;
	padding-bottom: 5px;
	padding-top: 5px;
}
h1#titulo-ifs {
	margin: 0;
	font-size: 18pt;
}
div#titulo {
    background: #ea4b4b;
    color: white;
    text-align: center; 
    padding: 5px;
    border-bottom: 1px solid black;
    font-family: serif;
    font-size: 18pt;
}

/* FIM CABEÇALHO */

/* CORPO */

input {
	width: 250px;
}
input:focus, select:focus,input:hover, select:hover {
	border: 2px solid #555;
}

input[type="submit"]:hover {
	cursor: pointer;
}
input[type="reset"]:hover {
	cursor: pointer;
}


/* FIM CORPO */

/* RODAPÉ */

table#rodape {
	background: rgb(200,200,200);
	text-align: center;
	border-top: 1px solid black;
	font-size: 10pt;
}


table#rodape a {
	color: black;
	text-decoration: none;
}
table#rodape a:hover, a:focus {
	color: #11897d;
}

/* FIM RODAPÉ */

