# Pastas .idea geradas pela IDE
*/.idea/
.idea/

# Diagrama de tabelas feito no MySQL WorkBench
*.mwb

# Arquivos baixados do curso e utilizados como referência
udemy-php-mysql/projeto-baixado/

# Exercícios práticos (ignorados apenas durante a construção do CRUD DOgCursos)
udemy-php-mysql/praticas/
