# Pastas .idea geradas pela IDE
*/.idea/
.idea/
.idea/*.xml

# Diagrama de tabelas feito no MySQL WorkBench
*.mwb

# Arquivos baixados do curso e utilizados como referência
public_html/udemy-php-mysql/projeto-baixado/

# Exercícios práticos (ignorados apenas durante a construção do CRUD DOgCursos)
public_html/udemy-php-mysql/praticas/
